@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sf Pro";
    src: url("/sf-pro-font/SF-Pro-Display-Bold.ttf") format("truetype");
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #a5a5b2 !important;
    /* -webkit-box-shadow: 0 0 0 30px #16162d inset !important; */
  }

  /* .scrollbar-hide::-webkit-scrollbar {
    display: none;
  } */
  /* .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  } */
}

@layer components {
  @media only screen and (max-width: 1536px) {
    :root {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 1536px) {
    :root {
      font-size: 16px;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  span,
  h1,
  p {
    user-select: none;
  }
  img {
    max-width: 100%;
  }

  input {
    @apply outline-none py-3 flex-1 text-lg bg-transparent;
  }

  .input-wrapper {
    @apply flex border items-center bg-white pl-4 pr-2 rounded-lg gap-x-2 w-[75%];
  }

  @keyframes donut-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .btn {
    @apply bg-[#3D00B7] py-3 px-[2.5rem] text-white font-medium rounded-lg text-lg flex-1;
  }

  .btn-loader {
    @apply inline-block border-[0.25rem] rounded-full w-8 h-8;

    animation: donut-spin 1s linear infinite;
  }

  .btn-loader-primary {
    @apply border-b-[#3D00B7] border-[#dde2e5];
  }

  /* .center {
    @apply px-[1.5rem];
  } */
}
